<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS via CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script><!-- Import Axios here, this will load it gloabally, so that you can use it inside of the script.js file, if you dont load axios here you wont be able to use it inside of an external js script file -->
</head>
<body>
    <div class="main">
     <div class="heading-container">
        <h1>The cocktail app</h1>
     </div>   
    <div class="main-container">
            <!--Card-->
            <div class="card">
            <img src="images/random_cocktail.jpg" alt="">
                <div class="container">
                    <h4>Name of Coctail: 
                        <%if(locals.name_of_drink){%>
                            <%=name_of_drink%>
                        <%}%>
                        </h4>
                    <p>Info on cocktail add more later</p>
                </div>
            </div>
        </div>
        <div class="button-container">
           <!-- <button type="button" class="btn btn-primary" id="fetchData">Get cocktail</button>  -->
            <form action="/get-data" method="get"><!-- This button is connected to the get-data endpoint, it has a get method -->
                <button type="submit" class="btn btn-primary">Get New Cocktail</button> 
            </form>
        </div>
        
    </div>
    <!--Scripts-->
    <!-- <script src="/script.js"></script> -->
    <link rel="stylesheet" href="styles.css">
   <!-- <script src="script.js" type="module"></script> --> <!--This is the script.js file that should be linked at the bottom of the file-->
</body>
</html>